extends layout

block content
  h1= title
  form(method="POST" action="/category/create")
    .form-group
      label(for="name") Category
      input#name.form-control(type="text" name="name" required="required")
    button.btn.btn-primary(type="submit") Submit
